# 1. Input
input {
  beats {
    port => 5044
  }
}

# 2. Filter
filter {
  if ![service] {
    mutate {
      add_field => { "service" => "unknown-service" }
    }
  }
}

# 3. Output
output {
  elasticsearch {
    hosts => ["http://es-log.${environment}.internal:9200"]
    index => "%%{[service]}-logs-%%{+YYYY.MM.dd}"  # terraform의 %와 충돌하여 %%로 회피
  }

  # 잘 전송되고 있는지 도커 콘솔 화면에서도 확인하기 위해 추가
  stdout { codec => rubydebug }
}
