# 1. Input
input {
  beats {
    port => 5044
  }
}

# 2. Filter
filter {

}

# 3. Output
output {
  elasticsearch {
    hosts => ["http://es-log.${environment}.internal:9200"]
    index => "notification-server-logs-%%{+YYYY.MM.dd}"  # terraform의 %와 충동하여 %%로 회피
  }

  # 잘 전송되고 있는지 도커 콘솔 화면에서도 확인하기 위해 추가
  stdout { codec => rubydebug }
}
